.homediv{
  background-color: #f6e4df;
  height: 721px;
  margin-bottom: 20px;
}
.largestimage{
  position: absolute;
  height:605px;
  width:1350px;
  margin:90px;
}

.centerdiv{
  text-align: center;
  margin-bottom: 40px;
}

.percentagediv{
  background-color: #2a6049;
  height:450px;
  margin: 20px;
}
.bottomdiv{
  height:300px;
  background-color: black;
}
.whatdiv{
  height:1320px;
  background-color: #0a7e50;
}
.divimage{
  text-align: center;
}
.contactdiv{
height:730px;
background-color: #f6e4df;

}

.sellyourtext{
  margin-top: 24px;
  font-size: 121px;
  color:black;
  font-family: muli, sans-serif;
  font-weight: 950;
  font-style: normal;
}

.selldot{
  color:orange;
  font-family: source-sans-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.topimage{
  width:450px;
  height:550px;
  
}
.aimstatement{
  text-align: center;
  color:black;
  font-size:70px;
  font-family: muli, sans-serif;
  font-weight: 950;
  font-style: normal;
  margin-top: 80px;
}

.percentagetext{
color:white;
text-align: center;
font-family: muli, sans-serif;
font-weight: 950;
font-style: normal;
font-size: 70px;
padding-top: 120px;

}





.footertext{
  position: relative;
  color: white;
  
}
.footericon{
  font-size: 20px;
  color: white;
  
}
.footerrow{
  padding-top: 50px;
}
.footertexter{
  position: relative;
  color: white;
  margin-top: 110px;
}
.footericons{
  font-size: 20px;
  color: white;
  margin-left: 15px;
  
}
.whatheader{
  color: black;
  font-size: 100px;
  font-family: muli, sans-serif;
  font-weight: 950;
  font-style: normal;
  padding-top: 109px;
  position: relative;
}
.whatdot{
  color: orange;
  font-family: source-sans-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.whatsub{
  text-align: center;
  font-family: muli, sans-serif;
font-weight: 950;
font-style: normal; 
  font-size: 30px; 
  margin-top: 36px;
  position: relative; 
  color: white;
}

.tinyimage{
  width:100px;
  height:100px;
  border-radius: 20px;
  align-self: center;
}
.tinytext{
  color:white;
  font-size: 23px;
  text-align: center;
  
  
  
}
.tinyrow{
  margin-top:70px ;
}

.contactheader{
  font-size: 100px;
  font-family: muli, sans-serif;
  font-weight: 950;
  font-style: normal; 
  color: black;
  
}
.contactsubtitle{
  font-size: 50px;
  font-family: muli, sans-serif;
  font-weight: 950;
  font-style: normal; 
  color: black;
}

.contactrow{
  padding-top: 110px;
  padding-bottom: 45px;
}
.finalfix{
  color: black;
}

.vendorhead{
  font-size: 27px;
  margin-right: 30px;
  color:black;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.vendordot{
  color:orange;
  font-family: source-sans-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.whathead{
  color:black;
  padding-top: 12px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.contacthead{
  color:black;
  padding-top: 14px;
  margin-left: 250px; 
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.toprow{
  padding-top: 117px;
}
.topicon{
  width:60px;
  height:60px;
}
.addresstext{
  padding-top: 70px;
}












@media only screen 
and (min-width:320px)
and (max-width:480px) {

  


  .homebackground{
    width:409px;
    height: 178vh;
  }
  .footer{
    width:409px;
    margin-top: 48px;
    height:310px;
  }
 .sellyourtext{
   font-size: 73px;
   margin-top: 15px;
 }
 .vendorhead{
   font-size: 19px;
   padding-top: 15px;
   padding-left: 3px;
 }
 .signupbutton{
   
   margin-top: 90px;
 }
 .signuprow{
   margin-left: 2px;
 }

 .aimbelow{
   margin-left: 10px;
   font-size: 14px;
   margin-top: 90px;
 }
 .footertext{
   font-size: 11px;
 }
 .footericon{
   font-size: 10px;
 }
 .footericons{
   font-size: 10px;
 }
 .footertexter{
   font-size: 9px;
 }
 .contacthead{
   margin-left: 0px;
 }
 
 .whatbackground{
   width:409px;
   height: 1000px;
 }
 .whatheader{
   font-size: 73px;
 }
 .tinytext{
   color:white;
   font-size: 13px;
   
 }
 .contactbackground{
   width: 409px;
   height:850px;
 }
 .contactheader{
   font-size: 80px;
 }
 .contactsubtitle{
   font-size: 34px;
 }
 .aimstatement{
   
   font-size: 32px;
 }
 .topicon{
   width:50px;
   height:50px;
 }
 
 .addresstext{
   font-size: 17px;
 }
 .largestimage{
   display:none;
   width:330px;
   margin:15px;
 }
 .percentagetext{
   font-size: 45px;
   padding-top: 45px;
 }
 .whatsub{
   font-size: 23px;
 }
 .whatdiv{
   height:1920px
 }
 .homediv{
   height: 735px;
 }
 .whathead{
   color:orange;
 }
 .contacthead{
  color:orange;
 }

}















@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  {
.homediv{
  height:720px;
}

.largestimage{
  display: none;
  width:520px;
  margin: 10px;
  padding-top: 120px;
}
.sellyourtext{
  font-size: 95px;
}
.aimstatement{
  font-size: 35px;
}
.percentagetext{
  font-size: 40px;
}
.footer{
  width:768px;
}
.footertext{
  font-size: 17px;
}
.contacthead{
  margin-left: 0px;
}
.whatdiv{
  height:1200px;
}
.whatheader{
  font-size: 75px;
}
.whatsub{
  font-size: 20px;
}
.tinytext{
  color: black;
  font-size: 15px;
}
.contactbackground{
  width:768px;
  height:740px;
}
.contactdiv{
  height: 900px;
}

  }




  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {
   
  .homediv{
    
    height:670px;
  }
.sellyourtext{
  font-size: 84px;
}
.aimstatement{
  font-size: 50px;
  text-align: center;
}
  .largestimage{
    margin:29px;
    width:717px;
    height:590px;
    padding-top: 55px;
  }
  .footer{
    width:1024px;
  }
  .aimbelow{
    margin-left: 10px;
    font-size: 14px;
    margin-top: 550px;
  }
  .signupbutton{
   
    margin-top: 550px;
  }
  .whatbackground{
    width:1024px;
    height:1450px;
  }
  .contactbackground{
    width:1024px;
  }
  .percentagetext{
    font-size: 53px;
  }
  .whatdiv{
    height: 1500px;
  }
  }




  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1280px) 
  {

   .largestimage{
     width:970px;
     
   }




  }

